
.container {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1220px;
}

.body__wrapper {
    overflow: hidden;
}

a,
button {
    transition: .2s ease-in-out;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

body:not(.logged-in) #wll-site-launcher {
    display: none !important;
}

#wll-site-launcher {
    .wll-launcher-button-container {
        bottom: 20px !important;
        left: 0 !important;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    
        .wll-icon-with-text {
            font-size: 16px !important;
        }
    }

    .text-light {
        color: inherit !important;
    }

    .wll-rewards-list-container .wll-fixed_cart-container.donate-block {
        .wll-fixed_cart-action-text {
            font-size: 0;

            &:before {
                content: '500 points';
                font-size: 16px;
            }
        }
    }

    .wll-rewards-title,
    .wll-earn-points-title {
        font-family: 'Gotham Medium';
    }

    .wll-reward-opportunities-my-rewards-tab-container p {
        font-size: 13px !important;
    }

    .wll-fixed_cart-container,
    .wll-fixed_cart-name-action-container,
    .wll-free_shipping-container {
        row-gap: 0 !important;
    }

    .wll-fixed_cart-icon-container,
    .wll-free_shipping-icon-container {
        pointer-events: none;
    }

    .wll-fixed_cart-redeem-button-container {
        margin-top: 10px;
    }

    .wll-preview-followup_share-container.js-follow-newsletter {
        .wll-preview-followup_share-description {
            display: inline-block;
            padding: 5px 10px;
            align-self: center;
            width: auto;
            font-size: 12px;
            color: $white !important;
            text-align: center;
            text-indent: 0 !important;
            background-color: $blue;
            border-radius: 6px;
            -webkit-font-smoothing: antialiased;
            cursor: pointer;
        }
        
        .wll-preview-followup_share-follow-share-button {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
}