
body {
    font-family: 'Gotham Book';
    font-size: 18px;
    line-height: 1.15;
    color: $blue;
}

main {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-family: 'Block Berthold Regular';
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

@include respond-to(lg-down) {
    h1,h2 {
        font-size: 35px;
    }
}