
body {
    font-family: 'Gotham Book';
    font-size: 18px;
    line-height: 1.15;
    color: $blue;
}

main {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-family: 'Block Berthold Regular';
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

ul.is-style-paws {
    padding-left: 0;
    list-style: none;
    font-family: 'Block Berthold Regular';
    font-size: 25px;
    text-transform: uppercase;

    li {
        position: relative;
        padding-left: 40px;
        margin-bottom: 25px;
        line-height: 1.15;
        
        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            display: block;
            width: 23px;
            height: 23px;
            background: url('../images/paws-black.svg') no-repeat center;
            background-size: 23px;
        }
    }
}

b, strong {
    font-family: 'Gotham Medium';
}

@include respond-to(lg-down) {
    h1,h2 {
        font-size: 35px;
    }
}