
%btn {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 25px;
    min-width: 200px;
    min-height: 44px;
    font-family: "Block Berthold Regular";
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1px;

    @include on-event() {
        border-radius: 10px;
    }
}

.btn-gray {
    @extend %btn;
    color: $white;
    background-color: $blue2;
}

.wp-block-button {
    & > .wp-block-button__link {
        @extend %btn;
        color: $white;
        background-color: $yellow2;

        @include on-event() {
            color: $blue;
            border-radius: 1px;
        }
    }

    &.is-style-outline > .wp-block-button__link {
        background-color: transparent;

        @include on-event() {
            color: $white;
            background-color: $yellow2;
            border-color: $yellow2;
        }
    }

    &.is-style-paws-link > .wp-block-button__link {
        position: relative;
        padding: 10px;
        min-width: 0;
        font-size: 18px;
        color: $blue3;
        text-transform: none;
        background-color: transparent;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            background-color: $blue3;
            transition: .2s ease-in-out;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: calc(100% - 5px);
            display: block;
            width: 18px;
            height: 18px;
            background: url('../images/paws-yellow.svg') no-repeat center;
            background-size: 18px;
            transform: translateY(-50%);
            transition: .2s ease-in-out;
            opacity: 0;
        }

        @include on-event() {
            color: $primary;

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }
}

.btn-primary {
    @extend %btn;
    color: $blue;
    background-color: $yellow2;
}

.btn-primary2 {
    @extend %btn;
    color: $blue;
    background-color: $primary;
}