
main {
    .wp-block {
        &-group {
            padding-top: 50px;
            padding-bottom: 50px;
    
            .wp-block-group__inner-container {
                margin-right: auto;
                margin-left: auto;
                width: 100%;
                max-width: 1220px;
                
                & > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @include respond-to(sm-down) {
        .wp-block {
            &-group {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        }
    }
}