
$primary: #f7be24;
$blue: #1c2b42;
$blue2: #3b5161;
$blue3: #395263;
$gray: #757575;
$gray2: #737373;
$gray3: #434343;
$lgray: #e2e2e2;
$lgray2: #f9f9f9;
$lgray3: #fcfcfc;
$lgray4: #f7f7f7;
$lgray5: #dedede;
$lgray6: #f2f2f2;
$lgray7: #f8f8f8;
$dgray: #363636;
$black: #000;
$white: #fff;
$wine: #92318d;
$yellow2: #ffa601;

//
$base-url: '../' !default;