
.woocommerce-account {
    .footer .footer__logos {
        margin-top: 0;
    }

    main {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;
        font-size: 16px;

        .container {
            position: relative;

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -80px;
                z-index: -1;
                display: block;
                width: 500px;
                height: 800px;
                background: url('../images/contact-flowers.svg') no-repeat bottom;
            }

            &:before {
                left: -250px;
            }

            &:after {
                right: -250px;
            }
        }

        .woocommerce-MyAccount-navigation {
            margin-bottom: 30px;
            float: none;
            width: 100%;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: flex-end;
                gap: 20px;
                padding: 0;
                list-style: none;
            }

            li {
                &.is-active a {
                    color: $primary;
                    border-color: $primary;
                }
            }

            a {
                display: block;
                padding: 10px 0;
                width: 100%;
                font-family: 'Block Berthold Regular';
                font-size: 16px;
                line-height: 1;
                color: $blue;
                text-decoration: none;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(88,91,86,.5);

                &:hover {
                    color: $primary;
                    border-color: $primary;
                }
            }
        }

        .woocommerce-MyAccount-content {
            float: none;
            padding: 30px 15px;
            width: 100%;
            min-height: 500px;
            font-size: 16px;
            background-color: $lgray9;

            .woocommerce-info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                padding: 10px 15px;
                border: 0;

                &:before,
                &:after {
                    display: none;
                }

                .button {
                    @extend .btn-primary2;
                    margin-left: auto;
                    min-width: 0;
                    font-size: 14px;
                }
            }

            .button {
                @extend .btn-primary2;
                min-width: 0;
                min-height: 0;
                font-size: 14px;

                @include on-event() {
                    background-color: $primary;
                }

                &.cancel {
                    color: $white;
                    background-color: $blue2;
                }

                &.wcs_deletion_error {
                    color: $white;
                    background-color: $red;
                }
            }

            table thead th {
                font-family: 'Gotham Medium';
            }

            form {
                .input-text,
                .select2-container.select2-container--default .select2-selection--single {
                    border: 1px solid $black;
                    box-shadow: none;
                }

                em {
                    font-size: 12px;
                }

                fieldset {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .woocommerce-Addresses {
                display: flex;
                gap: 30px;

                &:before,
                &:after {
                    display: none;
                }
                .woocommerce-Address {
                    float: none;
                    flex: 1;
                    width: auto;
    
                    .title {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        gap: 10px;

                        &:before,
                        &:after {
                            display: none;
                        }

                        h2 {
                            margin-bottom: 0;
                            font-size: 32px;
                        }

                        .edit {
                            padding: 5px 10px;
                            min-width: 150px;
                            font-size: 12px;
                            color: $white;
                            text-align: center;
                            text-decoration: none;
                            background-color: $green;
                            border-radius: 50px;
                        }
                    }
    
                    // & + .woocommerce-Address {
                    //     padding-top: 15px;
                    //     margin-top: 30px;
                    //     border-top: 1px solid $blue;
                    // }
                }
            }

            .wlr-my-rewards-sections {
                .wlr-rewards-content.donate-block {
                    .wlr-reward-type-name {
                        display: none !important;
                    }
                }
            }

            h2 {
                font-size: 32px;
            }

            .woocommerce-customer-details--phone {
                margin-bottom: 0;
            }
        }

        @include respond-to(md-down) {
            .woocommerce-MyAccount-content {
                .woocommerce-Addresses {
                    flex-wrap: wrap;

                    .woocommerce-Address {
                        flex: 0 0 100%;
                        width: 100%;
                    }
                }
            }
        }

        @include respond-to(sm-down) {
            .woocommerce-MyAccount-navigation {
                ul {
                    gap: 0;

                    li {
                        flex: 0 0 100%;
                        text-align: center;
                    }
                }

                a {
                    padding: 10px;
                }
            }
        }
    }
}