
.search-results {
    main {
        font-size: 16px;
    }

    &__form {
        margin: 0 auto 30px;
        max-width: 400px;

        .search-field {
            padding: 10px;
            width: 100%;
            min-height: 48px;
            color: $gray4;
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
            background-color: $white;
            border: 0;
            border-radius: 3px;
        }
    }

    &__list {
        margin: 0 auto;
        max-width: 800px;
    }

    &__item {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        font-size: 16px;
        color: $gray4;
        text-decoration: none;
        background-color: $lgray9;

        img {
            flex: 0 0 180px;
            width: 180px;
            min-height: 180px;
            object-fit: contain;
            background-color: $white;
        }

        .info {
            flex: 1;
            padding: 15px;
            align-self: center;
        }

        h3 {
            margin-bottom: 5px;
        }
    }

    .pagination-wrapper {
        margin-top: 30px;

        .nav-links {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            align-items: flex-end;

            .page-numbers:not(.dots) {
                display: inline-block;
                padding: 8px 15px;
                color: $blue;
                text-decoration: none;
                background-color: #fff;
                box-shadow: 0 1px 2px rgba(0,0,0,.2);
                border-radius: 2px;

                &.current {
                    color: #707070;
                    background-color: $lgray9;
                    border: 1px solid $lgray;
                    box-shadow: none;
                }
            }
        }
    }

    @include respond-to(xs) {
        &__item {
            display: block;

            img {
                flex: 0 0 100%;
                width: 100%;
                height: 180px
            }
        }
    }
}