
.hownd-shop-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.woocommerce {
    main {
        ul.products {
            display: flex;
            flex-wrap: wrap;
            margin-right: -12px;
            margin-left: -12px;
            gap: 30px 0;

            li.product {
                position: relative;
                padding-right: 12px;
                padding-left: 12px;
                margin: 0;
                flex: 0 0 50%;
                width: 50%;

                .woocommerce-loop-product__title {
                    font-family: 'Block Berthold Regular';
                    font-size: 20px;
                    color: $blue;
                    text-transform: uppercase;
                }

                .price {
                    font-family: 'Gotham Medium';
                    font-size: 16px;
                    color: $blue;

                    ins {
                        text-decoration: none;
                    }
                }

                .bos4w-or-subscribe {
                    display: none;
                }

                .badge-backsoon {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    padding: 5px 10px;
                    font-size: 14px;
                    color: $blue;
                    background-color: $white;
                    border-radius: .25rem;
                    box-shadow: 0 1px 2px rgba(0,0,0,.2);
                }

                .image-wrapper {
                    position: relative;
                }

                .add_to_cart_button {
                    @extend %btn;
                    position: absolute;
                    bottom: 60px;
                    left: 50%;
                    width: 170px;
                    min-width: 0;
                    font-size: 14px;
                    color: $blue;
                    background-color: $primary;
                    transform: translateX(-50%);
                    opacity: 0;
                    visibility: hidden;

                    &.loading {
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(255,255,255,.5);
                        }

                        &:after {
                            top: 14px;
                            right: calc(50% - 7px);
                        }

                        &:hover:before {
                            border-radius: 10px;
                        }
                    }

                    &.added {
                        justify-content: center;
                        font-size: 0;

                        &:before {
                            content: 'ADDED';
                            margin: 0;
                            font-family: inherit;
                            font-size: 14px;
                        }
                    }
                }

                a.added_to_cart {
                    display: none;
                }

                &:hover {
                    .add_to_cart_button {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .woocommerce-result-count {
            padding-top: 12px;
            margin-top: 20px;
            float: none;
            font-size: 16px;
            border-top: 1px solid $lgray;
        }

        .woocommerce-pagination {
            ul.page-numbers {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                border: 0;

                &:before,
                &:after {
                    display: none;
                }

                li {
                    border: 0;

                    a,
                    span {
                        padding: 8px 15px;
                        font-family: 'Block Berthold Regular'; 
                        font-size: 13px;
                        line-height: 1;
                        color: $blue;
                        background: transparent;
                        border: 1px solid $black;
                        border-radius: 5px;

                        &:hover {
                            color: rgba(28,43,66,.5);
                            background: transparent;
                        }

                        &.current {
                            color: $blue;
                            background: transparent;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    .product-tax-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        background-color: $lgray9;
        border: 1px solid transparent;
    
        &__text {
            display: flex;
            align-items: center;
            padding: 20px;
            flex: 0 0 100%;
            font-family: 'Gotham Medium';
            font-size: 16px;
            color: $white;
            background: url('../images/collection-bg.jpg') no-repeat right;
            background-size: cover;
    
            .term-description {
                width: 100%;
            }
    
            h2 {
                line-height: initial;
                color: $primary;
            }
        }
    
        &__image {
            position: relative;
            flex: 0 0 100%;
            padding-top: 50%;
    
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &--template1 {
            background-color: $white;

            .product-tax-header {
                &__text {
                    background: $green2;

                    h2 {
                        color: $white;
                    }

                    ul {
                        padding-left: 0;
                        list-style: none;
    
                        li {
                            position: relative;
                            padding-left: 30px;
                            margin-bottom: 10px;
    
                            &:before {
                                content: "\f005";
                                position: absolute;
                                top: 0;
                                left: 0;
                                font-family: 'Font Awesome 6 Free';
                                font-weight: 900;
                            }
                        }
                    }
                }
            }
        }

        &__featured {
            display: block;
            padding: 20px 40px;
            flex: 1;
            color: $blue;
            text-decoration: none;

            img {
                display: block;
                margin: 0 auto 20px;
                width: auto;
                height: 390px;
            }

            &-details {
                padding-top: 20px;
                margin: 0 auto;
                max-width: 500px;
                border-top: 2px solid $blue;
            }

            &-title {
                margin-bottom: 0;
            }

            &-price {
                font-family: 'Gotham Medium';
                
                .bos4w-or-subscribe {
                    display: none;
                }
            }
        }
    }

    .shop-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-bottom: 30px;
        font-family: 'Block Berthold Regular';
        font-size: 13px;
        color: $blue;
        background-color: $lgray9;

        a {
            color: $blue;
            text-decoration: none;
        }

        &__filter,
        &__view {
            flex: 0 0 100%;
        }

        &__view {
            display: flex;
            align-items: center;
            gap: 12px;

            a {
                &.active {
                    color: $primary;
                    text-decoration: underline;
                }
            }
        }

        &__filter {
            display: flex;
            align-items: center;
            gap: 12px;

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                min-width: 75px;
                line-height: 1;
                border: 1px solid $blue;
                border-radius: 5px;
            }
        }
    }

    .woocommerce-no-products-found {
        padding-top: 30px;

        .woocommerce-info {
            font-size: 14px;
            text-align: center;
            background: none;
            border: 0;

            &:before {
                display: none;
            }
        }
    }
}

@include respond-to(md-up) {
    .woocommerce {
        .product-tax-header {
            &__text {
                padding: 40px;
                flex: 0 0 40%;
            }
    
            &__image {
                flex: 0 0 60%;
            }
        }

        .shop-actions {
            flex-wrap: nowrap;

            &__filter {
                flex: 1;
            }

            &__view {
                flex: 0 0 auto;
            }
        }
    }
}

@include respond-to(lg-up) {
    .woocommerce main {
        ul.products {
            &.columns-3 li.product {
                flex: 0 0 33.33%;
                width: 33.33%;
            }

            &.columns-4 li.product {
                flex: 0 0 25%;
                width: 25%;
            }
        }
    }
}